.button {
  border-radius: 50px;
  padding: 15px 25px;
}

.icon-button {
  display: flex;
  align-items: center;
}

.icon-button span {
  padding-right: 1rem;
}

.white-button {
  background-color: #fff;
  color: #212353;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}
